{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="nav_header">
      <div class="logo"><h3><b><i class="bi bi-currency-bitcoin"></i></b></h3></div>
      <div class="profile_img"><small>Welcome <b>{{name}}</b></small></div>
    </div>
    <div class="container">
      <div class="quick_links">
        <div class="link"><button class="btn btn-primary bg-info">Lorem</button></div>
        <div class="link"><button class="btn btn-primary bg-info">Lorem</button></div>
        <div class="link"><button class="btn btn-primary bg-info">Lorem</button></div>
      </div>
      <div class="acct_info_holder row">
          <div class="link col-lg-3 col-md-6 col-sm-12 text-center">
            <div class="holder">
              <div class="header_icon">
                <i class="bi bi-person-circle"></i>
                </div>
                <div class="header_title">
                  <h5><b>ID</b></h5>
                </div>
                <div class="header_title_value">
                  <p>{{id}}</p>
              </div>
            </div>
          </div>
          <div class="link col-lg-3 col-md-6 col-sm-12 text-center">
            <div class="holder">
              <div class="header_icon">
                <i class="bi bi-person-vcard"></i>
                </div>
                <div class="header_title">
                  <h5><b>Username</b></h5>
                </div>
                <div class="header_title_value">
                  <p>{{name}}</p>
                </div>
            </div>
          </div>
        <div class="link col-lg-3 col-md-6 col-sm-12 text-center">
          <div class="holder">
            <div class="header_icon">
              <i class="bi bi-currency-dollar"></i>
              </div>
              <div class="header_title">
                <h5><b>Balance</b></h5>
              </div>
              <div class="header_title_value">
                <p>${{balance}}</p>
              </div>
          </div>
        </div>
      </div>
      <div class="main_activity ">
        <div class="activity top col-lg-12">
          <div class="activity_body">
            <h5><b>Activity</b></h5>
            <small class="m-0">Last work data</small>
          </div>
        </div>
        <div class="activity_display">
          <div class="activity  ">
            <div class="activity_body base">
              <div class="activity_brk_down">
                <div class="brk_dwn_heading">
                  <h5><b>$500 was added</b></h5>
                  <small class="m-0">Last work data</small>
                </div>
                <div class="brk_dwn_heading">
                  <h5><b>$500 was added</b></h5>
                  <small class="m-0">Last work data</small>
                </div>
                <div class="brk_dwn_heading">
                  <h5><b>$500 was added</b></h5>
                  <small class="m-0">Last work data</small>
                </div>
              </div>
            </div>
          </div>
          <div class="activity ">
            <div class="activity_body base">
              <div class="activity_brk_down">
                <div class="brk_dwn_heading">
                  <h5><b>Profit & loss</b></h5>
                  <p>Trasaction History</p>
                </div>
                <div class="brk_dwn_heading">
                  <iframe src="http://127.0.0.1:8000/user_dash_plot/{{user}}" width="100%" height="400" frameborder="0" scrolling="no">xfghdfjhdgcjdfgtg</iframe>
                  <script>
                    
                      setInterval(function() {
                          document.getElementsByTagName('iframe')[0].src += '';
                      }, 6000);
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>